html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

/* Make Header Sticky */
#header_container {
  background: #fafafa url(mainback.jpg) repeat; 
  border: 0; 
  height: 150px; 
  left:0; 
  position: fixed; 
  width:100%; 
  top:0; 
}

#header{ 
  line-height: 60px; 
  background: #fafafa url(mainback.jpg) repeat; 
  height:140px;
  width: 75%; 
  margin-top: 10px;
  margin-left: 25%;
  text-align: center; 
}

/* Container Frame Things */
#iframe {
    display: seamless;
    padding-top: 130px;
    padding-bottom: 60px;
    padding-left: 0px;
    margin-left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

/* Make Footer Sticky */
#footer_container { 
  background: #fafafa url(mainback.jpg) repeat; 
  background-attachment: fixed;
  border: 0;
  bottom:0; 
  left:0; 
  position: fixed; 
  width:100%; }

#footer { line-height:60px;  
  width: auto; 
  height: 100px;
  text-align:center; }